@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

$lightgrey: #b4bec9;
$aqua: #65cfd1;
$darkblue: #002333;
$lightblue: #deefe7;
$white: #ffffff;
$shadow: rgba(0, 0, 0, 0.6);

@mixin media-700 {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin media-1150 {
  @media screen and (max-width: 1150px) {
    @content;
  }
}

@mixin media-300 {
  @media screen and (max-width: 300px) {
    @content;
  }
}

@mixin media-930 {
  @media screen and (max-width: 930px) {
    @content;
  }
}
