@import "./variables";

.navbar {
  background-color: $darkblue;
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    .nav__list {
      display: flex;
      list-style: none;

      .nav__item {
        // margin-left: 1rem;
        flex-wrap: wrap;

        height: fit-content;
        :hover {
          transition: all 0.3s linear;

          background-color: $lightblue;
          color: $darkblue;
        }
        a {
          padding: 1rem;
          text-decoration: none;
          color: $white;
          text-transform: uppercase;
          font-family: "Gloria Hallelujah", cursive;
        }
      }
    }
  }
}
